body {
    text-align: center;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(72, 64, 177);
    background-color: rgb(170, 180, 233);
    max-height: 100vw;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-size: 10vw;
    /* color: rgb(89, 109, 196); */
    position: relative;
    margin-bottom: 10vw;
}

h2 {
    font-size: 7vw;
    margin: 5vw;
    font-weight: 700;
}

#current-calculation {
    padding: 2vw;
    text-align: center;
    font-size: 5vw;
    border: 2px solid rgb(72, 64, 177);
    max-width: 15%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    /* background-color: rgb(72, 64, 177); */
    box-shadow: inset 0 2px 4px rgb(72, 64, 177);
}

.input-field {
    padding: 0 0 10vw 0;
    left: 50%;
}

#input-number1 {
    padding: 2vw;
    text-align: center;
    font-size: 5vw;
    font-weight: 700;
    background-color: rgb(209, 216, 250);
    width: 15%;
    border: 2px solid rgb(72, 64, 177);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(72, 64, 177);
    box-shadow: inset 0 2px 4px rgb(72, 64, 177);
    border-radius: 20px;
    outline: none;
}

#input-number1:focus {
    background-color: rgb(170, 180, 233);
}

.button {
    margin-bottom: 10vw;
}

#btn-add {
    padding: 2vw 3vw;
    font-size: 3vw;
    font-weight: 900;
    background-color: rgb(72, 64, 177);
    color: white;
    border-radius: 10px;
    outline: none;
    box-shadow: 6px 20px 20px 5px rgba(57, 34, 94, 0.151);
    border: 2px solid rgb(72, 64, 177);
    transform: scale(1.1);
    letter-spacing: 0.03em;
}

#btn-add:hover {
    background-color: #2a2566;
    box-shadow: 2px 4px 8px 2px rgba(57, 34, 94, 0.1);
    transform: translateX(4px);
    transform: translateY(4px);
    transition: 0.4s;
    border: 2px solid #2a2566;
    color:rgb(72, 64, 177);
    border-radius: 12px;
    cursor: pointer;
    outline: none;
    letter-spacing: 0.01em;
    /* content: '+'; */
}